# Composer
composer.lock
vendor**

# IDE
.buildpath
.project
.settings/**
.vscode/**
.idea/**

# System files
.DS_Store

# Coverage reports
coverage/

# PHPUnit
.phpunit.cache/
phpunit.xml

# Certificates
ca.pem
*.pem

# Environment
.env
.env.local
