<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Static Tests">
            <file>tests/BinanceStaticTests.php</file>
        </testsuite>
        <testsuite name="Laravel Integration Tests">
            <file>tests/LaravelIntegrationTest.php</file>
        </testsuite>
        <testsuite name="Live Tests">
            <file>tests/BinanceLiveTests.php</file>
        </testsuite>
        <testsuite name="API Tests">
            <file>tests/BinanceApiTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
